* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font: 12px/18px Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
	background: #e9e9e9;
}
a {
	color: #246;
	outline: none;
	text-decoration: underline;
}
a:hover {
	color: #359;
	text-decoration: none;
}
a.button {
	z-index: 100;
	position: relative;
}
p {
	margin: 0 0 18px
}
textarea {
	resize:none;
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

sub, sup {
	font-size: 9px;
	line-height: 1px;
}

li {
	list-style: none;
}

input, select, textarea {
	width: 100%;
	padding: 2px;
	border: 1px solid #999;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #666;
}
input:hover {
	border: 1px solid #666;
	padding: 2px;
	color: #111;
}
textarea {
	height: 150px;
}
input[type="submit"] {
	width: 70%;
	padding: 2px 5px;
	color: #246;
	font-weight: bold;
	font-size: 11px;
	margin: 0 auto;
	display: block;
}
input[type="checkbox"], input[type="radio"] {
	width: 13px;
}
input[type="checkbox"]:hover, input[type="radio"]:hover {
	color: #66f;
}
.captcha-img {
	width: 109px;
	border: 0;
	margin: 0 auto;
	display: block;
}
label {
	margin: 2px 10px 0 0;
	color: #444;
	width: 100%;
	float: left;
	text-align: left;
}

.red {
	color: red;
}

.green {
	color: green;
}

.blue {
	color: blue;
}

.nowrap {
	white-space: nowrap;
}

#wrapper {
	width: 100%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

/* stylish
----------------------------------------------------------*/

.sidebar {
	display: block;
	width: 98%;
	margin: -5px auto 5px auto;
	z-index: 1000;
	border: 1px solid #000;
	border-top: 0;
	background: #ddd;
	overflow: hidden;
	box-shadow: 0 0 5px #000;
	border-radius: 3px;
}
.sidecont {
	padding: 7px 5px 3px 5px;
	border-bottom: 1px solid #fff;
	overflow: hidden;
	border-radius: 2px;
}

.menu {
	display: inline;
	font-weight: bold;
}
.menu a {
	position: relative;
	display: block;
	float: left;
	padding: 0 5px;
	margin: 0;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.menu a:hover {
	color: #efe;
	text-shadow: 0 1px 0 #246;
	margin-top: -1px;
}
.menu a img {
	margin-top: -1px;
	margin-bottom: -3px;
	height: 16px;
	border: 0;
	outline: 0;
}
.menu a:hover img {
	margin-top: 2px;
}
.menu li {
	display: inline;
}
.menu.user {
	float: right;
}


#content {
	margin-top: 00px;
	width: 100%;
	background: #e9e9e9;
}

#content .content {
	margin: 10px;
}

.content-header {
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	background: #eee;
	padding: 5px 2px;
	margin-top: 5px;
}

.content-header.grip {
	font-size: 10px;
	color: #888;
	background: #ddd;
	padding: 0 2px;
	border-bottom: 1px solid #ccc;
}
.content-header.grip * {
	font-size: 10px;
}

.pull_right {
	padding: 0 5px;
	color: #555;
	font: normal 10px Tahoma, Geneva, sans-serif;
	text-transform: none;
	opacity: 0.3;
	white-space: nowrap;
	clear: both;
}
.cnt-item .title .head .pull_right {
/*	position: absolute;*/
}
*:hover>.pull_right, .pull_right:hover {
	opacity: 1.0;
}
.pull_left {
	padding: 0 5px;
	color: #555;
	font: normal 10px Tahoma, Geneva, sans-serif;
	text-transform: none;
	opacity: 0.3;
}
*:hover>.pull_left, .pull_left:hover {
	opacity: 1.0;
}
.pull_right a {
	color: #999;
	font: normal 10px Tahoma, Geneva, sans-serif;
}
.block_head .pull_right a, .head .pull_right a {
	color: #44f;
}
.pull_right a:hover {
	color: #f33;
	text-decoration: none;
}

.main-container {
	padding: 10px 0;
}

.cnt-item {
	margin: 0 5px;
	padding: 5px 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	min-height: 16px;
}

.cnt-item .title {
	font-size: 12px;
	font-weight: bold;
	clear: both;
	float: left;
	width: 100%;
}

.cnt-item .text {
	font-size: 11px;
	color: #aaa;
}

.cnt-item .text a {
	font-size: 10px;
}

.cnt-item .title .head {
}
.cnt-item .title .link {
	float: right;
	text-align: left;
	font-weight: normal;
	padding: 0 0 2px 16px;
	white-space: nowrap;
}
.cnt-item .title .link.past_since {
	min-width: 40%;
	width: 40%;
	text-align: right;
	white-space: nowrap;
}
.cnt-item .title .link a {
	font-size: 11px;
	color: #aaa;
}
.cnt-item .title .link a:hover {
	color: #666;
}
.cnt-item .title .link.samlib {
	margin: -1px 5px 0 0;
	background: url(/theme/img/samlib.gif) no-repeat 0 4px;
}
.cnt-item .title .link.size , .cnt-item .title .link.size2 {
	padding-left: 0;
	width: 80px;
	font-size: 11px;
	font-weight: bold;
}
.cnt-item .title .link.size.u2 {
	width: 160px;
}
.text.reader {
	padding: 60px 10px;
	font-size: 16px;
	font-family: Tahoma;
	color: #000;
}

.pages {
	width: 100%;
	text-align: center;
	margin: 7px 0 2px;
	padding: 5px 0;
	background: #ddd;
	border-bottom: 1px solid #ccc;
	white-space: nowrap;
}
.pages li {
	display: inline;
}

.pages li.active a, .pages li.disabled a {
	text-decoration: none;
	color: #aaa;
}

.pages li.active a {
	color: #46f;
	font-weight: bold;
}


/* Diff
--------------------------------------------*/
del, .old {
	color: red;
}
ins, .new {
	color: green;
}
.context {
	color: #666;
}

ins {
	text-decoration: none;/*underline;*/
}
del {
	text-decoration: none;/*line-through;*/
}

.msg-box {
	color: #444;
	font-size: 10px;
	font-family: Consolas, "Courier New";
}
.msg-box .message {
	display: block;
	position: relative;
	margin: 0 -5px 5px -5px;
	padding: 5px 5px;
	float: none;
	line-height: 24px;
	background: #ccc;

	font-weight: bold;
	font-size: 14px;
	color: maroon;
	text-shadow: 0 1px 0 #fdd;
}

.msg-box .filename {
	color: olive;
}
.msg-box .call {
	color: maroon;
}

/*-*/
span.multi {
	float: left;
	margin-right: 5px;
}

.diff-to-fresh, .diff-to-new {
	background: #4dd;
	border-radius: 3px;
	margin: -1px;
	padding: 2px;
	color: blue;
}
.diff-to-fresh {
	background: #4d4;
}

/* Grammar Nazzi */

.grammar-highlight {
	position: absolute;
	border: 0;
	background: #f00;
	opacity: 0.2;
}

#content a.pin, .grammar-tip {
	position: absolute;
	background: #ddd url(/theme/img/grammar-pin.gif) no-repeat;
	border: 1px solid black;
	margin: 0 0 0 -2px;
	border-radius: 2px;
	padding: 0 1px;
	width: 10px;
	height: 12px;
	cursor: pointer;
	overflow: hidden;
	opacity: 0.2;
	z-index: 1;
}

#content a.pin {
	display: inline-block;
	width: 12px;
	height: 12px;
	position: relative;
	margin: 14px -7px -14px -7px;
	padding: 0;
	z-index: 2;
	overflow: visible;
}

#content a.pin:hover {
	background-color: #ccf;
	opacity: 1.0;
}
.grammar-tip:hover {
	background-color: #ccf;
	opacity: 1.0;
	overflow: visible;
	width: auto;
	height: auto;
	z-index: 2;
}

.grammar-tip .suggestion {
	display: none;
	margin: -1px 0 0 12px;
	padding: 0;
}

.grammar-tip .text.reader {
	margin: 0;
	padding: 0 1px 1px 0;
}

.grammar-tip:hover .suggestion {
	display: block;
}

.grammar-hint {
	float: right;
	font-size: 70%;
	color: #888;
}

.uri-pages-id .grammar-hint {
	display: none;
}

/* ui */

.ui-updates {
	position: relative;
	display: inline-block;
	margin: -1px 0 0 3px;

	float: right;
}
*:hover>.ui-updates {
	margin-top: 0;
}

.ui-updates div {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #fff;
	box-shadow: 0 0 3px #000;

	padding: 0 2px 1px 2px;
	height: 10px;
	line-height: 10px;
	font-family: Tahoma;
	font-size: 8px;
	font-weight: normal;
	background: #666;
	color: #000;
	text-shadow: 0 1px 0 #fff;

}

.ui-updates.green div {
	background: #4d4;
}
*:hover>.ui-updates.green div {
	background: #9f9;
}


/* - */

.v-diff {
	padding: 0;
	position: relative;
	margin: -1px;
}

.versions {
	overflow: hidden;
	height: 20px;
	width: 60px;
	display: inline-block;
	position: relative;
	margin: -5px 0;
}
.versions:hover {
	overflow: visible;
	z-index: 100;
}

.versions div {
	border: 1px solid transparent;
	width: auto;
	position: absolute;
	border-radius: 3px;
	margin: 0;
	padding: 2px 1px;
	background: #ddd;
}
.versions:hover div {
	border: 1px solid #333;
}

.versions a {
	display: block;
	margin: -1px 1px 1px;
	margin: -1px auto;
	padding: 0 2px;
}
.versions a:hover {
	display: block;
	background: #eee;
	border-radius: 2px;
}

/* - */

.content-header .filter {
	font-weight: normal;
}
.content-header .filter.selected {
	font-weight: bold;
	color: blue;
}

/* overflow fix */

.uri-main .cnt-item {
	overflow: hidden;
}
/**/

.title .head.small.break {
	display: block;
	clear: both;
}
.title .head.small, .head.small .link.size {
	font-size: 80%;
}

.title .head.small .time{
	width: 30%;
	min-width: 130px;
	text-align: right;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.title .head.small .delta {
	float: none;
	width: 70%;
	margin: 0;
	padding: 0;
}

.title.update {
	width: 98%;
	margin: 0 1%;
	font-size: 90%;
}

.dotted {
	border: 0;
	border-bottom: 1px dotted #999;
}

.title.update, .title.update a {
	color: #789;
}

.title.update .time, .title.update .past_since {
	color: #aaa;
}

.text .size {
	display: inline-block;
	color: #444;
	font-weight: bold;
	width: 50px;
	text-align: right;
}

/*.*/

form.content-header {
	font-weight: normal;
}
.content-header input[type="submit"], .content-header select {
	width: 120px;
}

/* trace marks */

.trace-mark {
	background: url(/theme/img/trace.png) no-repeat 1px 1px;
	display: inline-block;
	position: relative;
	width: 8px;
	height: 8px;
	margin: -3px 0 3px 3px;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;
	-moz-box-shadow: 0 0 2px #000;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 2px #000;
	-webkit-border-radius: 5px;
	cursor: pointer;
	font-weight: normal;
	font-size: 90%;
	font-family: Arial;
}

.trace-mark.traced {
	background-color: #8f8;
}
.trace-mark.untraced {
	background-color: #8dd;
}
.trace-mark.nottraced {
	background-color: #ddd;
}

.trace-mark span {
	margin: -1px;
	padding: 0 3px 0 20px;
	display: none;
	position: absolute;
	height: auto;
	min-width: 200px;

	background: #eee url(/theme/img/trace.png) no-repeat 1px 1px;
	color: #444;
	border: 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 2px #000;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 2px #000;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 2px #000;

	z-index: 100;
}

.trace-mark:hover span {
	display: inline-block;
}


/* */
label span {
	color: red;
}

/* inline-mark */

.inline-mark {
	margin-left: -10px;
	color: #ddd;
}

@media only screen and (max-width: 600px) {
	.v-diff {
		display: inline-block;
	}
}

/* calendar */

.calendar {
	border: 1px solid #555;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	margin: 5px;
	background: #ddd;
	overflow: hidden;
	cursor: default;
}
.calendar td {
	text-align: right;
	border: 1px solid #eee;
	padding: 2px;
	line-height: 16px;
	width: 16px;
}
.calendar .calendar-header {
	text-align: center;
	background: #aaa;
	font-weight: bold;
	color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #888;
	border-left: 0;
	border-right: 0;
}
.grey {
	color: grey;
}

.calendar .calendar-version {
	font-weight: bold;
	border: 1px solid #55e;
}
.calendar .calendar-multiple .calendar-multi-versions {
	position: absolute;
	display: none;
	border: 1px solid #555;
	margin: 5px;
	background: #ddd;
	margin: -19px 0 0 -3px;
	text-align: left;
	padding: 5px 10px;
	line-height: 16px;
}

.calendar .calendar-multiple:hover .calendar-multi-versions {
	display: block;
	font-weight: normal;
}

.calendar .calendar-version:hover {
	background: #eee;
}

.calendar .calendar-new {
	background: #dfd;
}

.calendar li.calendar-new {
	background: #8f8;
}

.calendar .day-name td {
	color: #444;
	text-align: center;
	font-size: 80%;
	background-color: silver;
	border: 1px solid #aaa;
}